.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 10px;
  @media (max-width: 500px) {
    gap: 10px;
  }
}

.title {
  position: relative;
  display: flex;
  align-self: center;
  font-weight: 600;
  font-size: 20px;
  max-width: 600px;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.inputTitle {
  position: fixed;
  z-index: 1000;
  top: 50px;
  border: 2px solid rgba(23, 43, 77, 0.7);
  border-radius: 3px;
  padding: 3px;
  font-size: 16px;
  width: fit-content;
  min-width: 400px;
  max-width: 400px;
}

.headMenu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  background: rgba(23, 43, 77, 0.2);
  cursor: pointer;
}
.headMenu:hover {
  font-weight: bold;
  background: rgba(23, 43, 77, 0.3);
}

.dropHeadMenu {
  position: fixed;
  z-index: 100;
  border-radius: 3px;
  top: 54px;
  font-size: 16px;
  cursor: pointer;
}

.changeColor_light {
  color: white;
}

.changeColor_dark {
  color: rgb(23, 43, 77);
}

.lists {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
  height: calc(100vh - 44px - 54px);
  margin: 0 10px;
}
.lists::-webkit-scrollbar {
  width: 10px;
}
.lists::-webkit-scrollbar-thumb {
  background: rgba(23, 43, 77, 0.1);
  border-radius: 10px;
}
.lists::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 43, 77, 0.3);
}

.listBackground {
  background-color: rgba(23, 43, 77, 0.6);
  height: fit-content;
  border-radius: 6px;
}

.listForeground {
  color: rgb(23, 43, 77);
  height: fit-content;
  border-radius: 6px;
}

.listBackgroundOpacity {
  opacity: 0;
}

.viewMember {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
  padding: 0 10px;
}
.viewMember:hover {
  background-color: rgba(73, 136, 245, 0.1);
  border-radius: 3px;
}

.deleteMemberForm {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid rgba(129, 3, 3, 0.2);
  background-image: linear-gradient(rgba(129, 3, 3, 0.1) 40%, transparent 50%);
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 10px 0;
  padding: 0;
}
