.cardWrapper {
    position: relative;
    width: 100%;
    margin: 8px 0;
    padding: 6px;
    background-color: white;
    border-radius: 4px;
    border-bottom: 1px solid rgba(23, 43, 77, .4);
    box-shadow: 5px 6px 4px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66,  .1);
}

.cardWrapper:hover {
    background-color: rgba(255, 255, 255, .75);
    cursor: pointer;
}

.cardTitle {
    margin: 5px;
    font-weight: 500;
    font-size: 16px;
}

.cardBackground {
    background-color: rgba(23, 43, 77, .1);
    height: fit-content;
    border-radius: 6px;
}

.cardForeground {
    height: fit-content;
    border-radius: 6px;
}

.cardBackgroundOpacity {
    opacity: 0;
}

.window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(23, 43, 77, .7);
    overflow-y: auto;
}

.openedCardModal {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    width: 750px;
    color: rgb(23, 43, 77);
    background-color: #f4f5f7;
    border: 1px solid #e3e6f0;
    border-radius: 4px;
}

.openCardTitleWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: 600;
}

.closeModal {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
}
.closeModal:hover {
    background-color: rgba(23, 43, 77, .3);
}
.titleicon {
    width: 35px;
    height: 35px;
    background-image: url(../images/cardTitle.png);
}

.displayMembersicon {
    width: 32px;
    height: 32px;
    background-image: url(../images/membersicon.png);
}

.descriptionicon {
    width: 35px;
    height: 35px;
    background-image: url(../images/cardDescription.png);
}

.descriptioniconMini {
    margin-top: 10px;
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-image: url(../images/cardDescription.png);
}

.commenticon {
    width: 35px;
    height: 35px;
    background-image: url(../images/commenticon.png);
}

.commenticonMini {
    margin-top: 10px;
    width: 18px;
    height: 18px;
    background-size: 18px;
    background-image: url(../images/commenticon.png);
}

.descriptionText {
    width: auto;
    margin-top: 10px;
    margin-left: calc(35px + 10px);
    background-color: rgba(73, 136, 245, 0.04);
    border: 1px solid rgba(73, 136, 245, 0.1);
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}
.descriptionText:hover {
    cursor: pointer;
    background-color: rgba(73, 136, 245, 0.3);
}

.inputDescription {
    border: 2px solid rgba(23, 43, 77, .7);
    border-radius: 3px;
    padding: 3px;
    width: 100%;
    min-height: 100px;
    font-size: 16px;
    min-width: 100%;
    max-width: 100%;
}

.commentForm {
    width: 496px;
    height: 36px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(23, 43, 77, .2);
}

.commentForm:hover {
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66,  .1);
    cursor: pointer;
}

.inputComment {
    @extend .commentForm;
    height: 70px;
    resize: none;
}

.editComment {
    @extend .commentForm;
    margin-left: calc(35px + 10px);
    width: 496px;
    height: 70px;
    resize: none;
}

.commentText {
    @extend .descriptionText; 
    background-color: white;
    border: none;
}

.commentText:hover {
    cursor: auto;
    background-color: white;
}

@mixin button {
    background: transparent;
    border-radius: 3px;
    padding: 3px 10px;
}

.buttonTrue {
    @include button;
    border: 1px solid rgb(38, 70, 177);
}
.buttonTrue:hover {
    background-color: rgb(38, 70, 177);
    color: white;
}
.buttonCancel {
    @include button;
    border: 1px solid rgb(129, 3, 3);
}
.buttonCancel:hover {
    background-color: rgb(129, 3, 3);
    color: white;
}

.circle {
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 43, 77);
  }

.updateComment {
    margin: 10px 0 10px 10px;
    text-decoration: underline;
    cursor: pointer;
}

.confirmDelete {
    // position: relative;
    margin: 10px auto 20px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    width: 230px;
    height: 110px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66,  .1);
    // border-bottom: 2px solid rgba(23, 43, 77, .6);
}

.sidebar {
    font-weight: 600;
    padding: 20px;
}

.sidebarItem {
    @extend .descriptionText;
    background-color: rgba(73, 136, 245, 0.1);
    margin-left: 0;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.addmembericon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(../images/addmembericon.png);
}
.covericon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(../images/covericon.png);
}
.renameicon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(../images/renameicon.png);
}
.moveicon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(../images/moveicon.png);
}
.copyicon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(../images/copyicon.png);
}
.deleteicon {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url(../images/trashbinicon.png);
}

.openCardTitle {
    font-size: 18px;
    padding: 10px 0 17px;
    cursor: pointer;
    padding-left:3px;
}

.inputCardTitle {
    border: 1px solid rgba(23, 43, 77, .7);
    border-radius: 3px;
    padding: 5px 3px 4px;
    margin-bottom: 9px;
    font-size: 20px;
    font-weight: 600;
    min-width: 100%;
    max-width: 100%;
}

.assignMember {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    background-color:#ddd;
    border-radius: 50%;
    width: 35px;
    height:35px;
}

.assignMember:hover {
    cursor: pointer;
}

.assignedMember {
    position: relative;
}

.assignedMember:hover {
    cursor: pointer;
}

.assignedMember[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 40px;
    min-width: 200px;
    border: 1px white solid;
    border-radius: 3px;
    background-color: #ffe;
    padding: 10px;
    font-size: 16px;
    z-index: 1;
}