.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 260px;
    height: calc(100vh - 44px);
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
    border-right:rgba(23, 43, 77, .3) 1px solid;
    box-sizing:border-box;
}

.wrapperHidden {
    width: 20px;
    height: calc(100vh - 44px);
    background-color: var(--backgroundColor);
    border-right:rgba(23, 43, 77, .4) 1px solid;
    cursor: pointer;
}

.wrapperHidden:hover {
    background-color: var(--hoverColor);
}

@mixin tick {
    width: 24px;
    height: 24px;
    margin: 20px 84%;
    border-radius: 30%;
    background-color: rgba(23, 43, 77, .4);
    color: white;
    cursor: pointer;
}

@mixin tickUpDown {
    width: 24px;
    height: 24px;
}

.tickLeft {
    @include tick;
    transform: rotate(90deg); 
}

.tickRight {
    @include tick;
    margin: 20px 45%;
    transform: rotate(-90deg); 
}

.tickLeft:hover, .tickRight:hover {
    background-color: rgba(23, 43, 77, .9);
}

.tickUp {
    @include tickUpDown;
    transform: rotate(180deg); 
}

.tickDown {
    @include tickUpDown;
}

.dropBoards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px 14px;
    cursor: pointer;
    font-weight: 600;
}

.plus {
    font-size: 24px;
    width: 24px;
    text-align: center;
}

.dropBoards:hover {
    background-color: rgba(0,0,0, .2);
}

.boardItem {
    position: relative;
    padding: 0px 5px 0px 14px;
    display: flex;
    align-items: center;
    height: 32px;
}

.boardItem:hover {
    cursor: pointer;
    background-color: rgba(23, 43, 77, .4);
}

.colorBoard {
    width: 25px;
    min-width: 25px;
    height: 20px;
    border-radius: 3px;
    margin: 5px;
}

@mixin dots {
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 8px 6px;
}

.threeDots {
    @include dots;
}

.threeDots:hover {
    border-radius: 2px;
    background: linear-gradient(90deg, rgba(23, 43, 77, .5) 0%, rgba(23, 43, 77, 0) 100%);
}

.threeDotsWithoutHover {
    @include dots;
}

.boardDropMenuBackGround {
    position: fixed;
    z-index: 100;
    border-radius: 0 3px 3px 0;
}

.boardDropMenu {
    background-color: rgba(23, 43, 77, .3);
    border-radius: 0 3px 3px 0;
}

.boardDropItem {
    padding: 8px;
    display: flex;
    align-items: center;
    gap:5px;
    border-bottom: 1px solid rgba(23, 43, 77, .1);
}
.boardDropItem:hover {
    font-weight: 800;
}
.boardDropItem:last-child {
    margin-bottom: 0;
    border-bottom: none;
} 

.scrollbar {
    max-height:35vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar {
    width: 10px;
}
.scrollbar::-webkit-scrollbar-thumb {
background: rgba(23, 43, 77, .1);
border-radius: 10px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
background: rgba(23, 43, 77, .3);
}