.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(255, 255, 255), rgb(234, 230, 255));
}

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.header_login {
  font-size: 24px;
  margin-right: 30px;
  font-weight: 500;
  color: rgb(23, 43, 77);
}

.login:hover {
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: auto;
  padding: 70px 0 20px 0;
}

.motto {
  line-height: 60px;
  color: rgb(23, 43, 77);
  font-size: 30px;
  padding: 10px;
  @media (max-width: 750px) {
    font-size: 1.8rem;
    line-height: 30px;
  }
}

.signup_button {
  margin-top: 70px;
  padding: 6px 20px;
  font-size: 28px;
  border-radius: 5px;
  border: 1px solid rgb(23, 43, 77);
  color: rgb(23, 43, 77);
  background-color: rgb(255, 255, 255);
}

.signup_button:hover {
  background-color: rgb(23, 43, 77);
  color: rgb(255, 255, 255);
}

.start_img {
  width: 350px;
  height: 350px;
  background-image: url(../images/start.png);
  @media (max-width: 450px) {
    transform: scale(0.7);
  }
  @media (max-width: 800px) {
    transform: scale(0.8);
  }
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 70px;
  background-color: rgb(23, 43, 77);
  color: rgb(255, 255, 255);
}
