.navbar {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  height: 44px;
  width: 100vw;
  font-size: 18px;
  box-shadow: inset 0 0.15rem 1.8rem 0 rgba(23, 43, 77, 0.8);
  border-bottom: rgba(23, 43, 77, 0.3) 1px solid;
  box-sizing: border-box;
}

.authbox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

.dropListAuth {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 48px;
  right: 2px;
  z-index: 10;
  min-width: 250px;
  padding: 20px;
  color: rgb(23, 43, 77);
  background-color: #fff;
  border: 1px solid #e3e6f0;
  border-radius: 4px;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.1);
  font-size: 16px;
  cursor: auto;
}
.dropListAuth::-webkit-scrollbar {
  width: 10px;
}
.dropListAuth::-webkit-scrollbar-thumb {
  background: rgba(23, 43, 77, 0.1);
  border-radius: 10px;
}
.dropListAuth::-webkit-scrollbar-thumb:hover {
  background: rgba(23, 43, 77, 0.3);
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 0;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notificationCard {
  margin: 12px;
  padding-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(23, 43, 77, 0.2);
  background-color: #eee;
}

.bellicon {
  width: 28px;
  height: 28px;
  background-size: 28px;
  margin-right: 30px;
  background-image: url(../images/bellicon.png);
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.newnotification {
  animation: blink 0.8s infinite alternate;
  position: relative;
  top: 6px;
  left: 15px;
  width: 10px;
  height: 10px;
  background-color: rgb(129, 3, 3);
  border-radius: 50%;
}

.hoverTitle:hover {
  color: #ffe;
}
